<!--
  Generated template for the OverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



  <div >
    <ion-card>
      <ion-card-header>
        <ion-icon *ngIf="!editSummary" (click)="editSummary=!editSummary" name="create" style="float: right"></ion-icon>
        <ion-icon *ngIf="editSummary" name="checkmark" (click)="updateSummary()" style="float: right"></ion-icon>
        <div style="display: inline">Summary</div>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="!editSummary" >{{book.summary}}</p>
        <ion-textarea *ngIf="editSummary" placeholder="Add a book summary" [(ngModel)]="book.summary"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <div padding>
      <H2 style="display: inline">Sections</H2>
      <button *ngIf="!addSection" ion-button style="float: right" (click)="addSection=true">Add a section</button>
    </div>
    <ion-card *ngIf="addSection">

      <ion-card-content>
        <ion-input [(ngModel)]="newSection.name" placeholder="Section name"></ion-input>
        <button ion-button style="float: right" (click)="addNewSection()">Add</button>
        <button ion-button style="float: right" (click)="addSection=false">Cancel</button>
      </ion-card-content> 
    </ion-card>
    <ion-list>
      <p ion-item *ngFor="let section of book.sections">
        {{ section.name }}
      </p>  
    </ion-list>
  </div>
