<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div>
  <div style="text-align: center">
    <button *ngIf="!addQuestion" ion-button style="" (click)="addQuestion=true">Add a question</button>
  </div>
  <ion-card *ngIf="addQuestion">
    <ion-card-content>
      <div style="display: flex; align-items: center; justify-content: space-between">
        <p>Relevant section:</p>
        <ion-select [(ngModel)]="newQuestion.section_id">
          <ion-option *ngFor="let section of book.sections" [value]="section.id">
            {{section.name}}
          </ion-option>
        </ion-select>
      </div>
      <ion-item>
        <ion-textarea placeholder="Question" [(ngModel)]="newQuestion.text"></ion-textarea>
      </ion-item>
      <button ion-button style="float: right" (click)="addNewQuestion()">Add</button>
      <button ion-button style="float: right" (click)="addQuestion=false">Cancel</button>
    </ion-card-content> 
  </ion-card>

  <div *ngFor="let section of sections">
    <div style="display: flex; justify-content: space-between" (click)="section.expanded=!section.expanded">
      <H2>{{section.name}}</H2>
      <ion-icon class="pull-right"  name="arrow-down"></ion-icon>
    </div>
    <div class='expand-wrapper' [class.collapsed]="!section.expanded">
      <ion-card *ngFor="let question of section.questions; let i = index"> 
        <ion-card-header>
          {{question.section.name}} #{{i + 1}}
        </ion-card-header>
        <ion-card-content>
          <div>{{question.text}}</div>
          <a *ngIf="!question.showAnswer" (click)="question.showAnswer=true">View answer</a>
          <a *ngIf="question.showAnswer" (click)="question.showAnswer=false">Hide answer</a>
          <div *ngIf="question.showAnswer">
            <div style="text-align: right">
              <ion-icon *ngIf="!editAnswer" (click)="editAnswer=!editAnswer" name="create" ></ion-icon>
              <ion-icon *ngIf="editAnswer" name="checkmark" (click)="updateAnswer(question)" ></ion-icon>
            </div>
            <p *ngIf="!editAnswer" >{{question.answers[0]?.answer}}</p>
            <div>
            <ion-item>
              <ion-textarea class="answer-textarea" placeholder="Answer" *ngIf="editAnswer" [(ngModel)]="question.answers[0].answer"></ion-textarea>
            </ion-item>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</div>
